<h1 mat-dialog-title *ngIf="room.id">UPDATE ROOM NO: {{room.roomNo}}</h1>
<h1 mat-dialog-title *ngIf="!room.id">ADD NEW INVENTORY ROOM</h1>

<div mat-dialog-content class="container">
    <div>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <input matInput [value]='room.description' (input)=changeDescription($event.target.value)>
            </mat-form-field>
        </form>
    </div>
    <div>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Price</mat-label>
                <input matInput [value]='room.price' type="number" (input)=changePrice($event.target.value)>
            </mat-form-field>
        </form>
    </div>
    <div>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Room number</mat-label>
                <input matInput [value]='room.roomNo' type="text" (input)=changeRoomNo($event.target.value)>
            </mat-form-field>
        </form>
        <!-- <input mat-imput type="text" placeholder="Room No" [(ngModel)]="room.roomNo" /> -->
    </div>

    <div>
        <input type="checkbox" [(ngModel)]="room.available" /> Available
    </div>

    <div>
        <room-type-select [(selected)]="room.type" (selectedChange)="onRoomTypeChange($event)"></room-type-select>
    </div>


</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</div>