<div class="header">
    <h2 style="color:dodgerblue" >PERMISSIONS MANAGEMENT</h2>
   </div>

<div>
    <div *ngFor="let user of userPerms" >
        <h3>  {{user.userName}}</h3>
        <div> {{user.userRole}}</div> 
        <div>
            <span *ngFor="let perm of user.permissions">
                <input type="checkbox" [(ngModel)]="perm.isAssigned" /> {{perm.name}}
            </span>
        </div>
        <div>
            <button (click)="savePerms(user)">Save</button>
        </div>
    </div>
    
</div>