<div class="header">
    <h3>ROOMS MANAGEMENT</h3>
   </div>
   <div>
   <button mat-stroked-button color="primary" (click)="upsert()">ADD ROOM</button>
</div>
<!--<div>
    <div *ngFor="let room of rooms" >
            <div>{{room.description}}</div>
            <div>{{room.roomNo}}</div>
            <div>{{room.price}}</div>
            <div>{{room.type.name}}</div>
            <div>{{room.available? 'Available':'Not avaibale'}}</div>
            <div><button (click)="upsert(room)">Edit</button></div>
    </div>
</div>
-->
<div>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Insert filter" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table *ngIf="rooms !== null" mat-table [dataSource]="rooms" matSort>
      
          <!-- Room number-->
          <ng-container matColumnDef="roomNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ROOM NO.</th>
            <td mat-cell *matCellDef="let row"> {{row.roomNo}} </td>
          </ng-container>
    
          <!-- Room Type-->
          <ng-container matColumnDef="roomType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ROOM TYPE </th>
            <td mat-cell *matCellDef="let row"> {{row.type.name}} </td>
          </ng-container>
      
          <!-- Room Description -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPTION </th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>
      
          <!-- Room Price -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PRICE </th>
            <td mat-cell *matCellDef="let row"> {{row.price}} </td>
          </ng-container>
      
          <!-- Room status  -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ROOM STATUS </th>
            <td mat-cell *matCellDef="let row" > {{row.status? 'Available':'Not avaibale'}} </td>
          </ng-container>
    
          
    
          <ng-container matColumnDef="Options">
            <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
            <td mat-cell *matCellDef="let element; let i = index">
              <button mat-raised-button color="accent"
                (click)="upsert(room)">Edit</button> </td>
          </ng-container>
    
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      </div>>