<h2 style="color:dodgerblue">ROOM TYPES</h2>
<div style="display:flex;flex-wrap:wrap">
  <div style="width:30%;margin-right:5px;" *ngFor="let rt of roomTypes">
    <mat-card>
      <!--<img [src]= "getImage(rt)" style="width:200px;height:200px"/>-->
      <img [src] = "getImage(rt)" style="width:300px;height:200px"/>
      {{rt.name}}
      <div style="display:flex">
        <div style="flex:1 1 auto"></div>
        <button (click)="go(rt)">Enter</button>
      </div>
    </mat-card>
  </div>
</div>
