<div style="display:flex;flex-wrap:wrap">
  <div style="width:30%;margin-right:5px;" *ngFor="let room of rooms">
    <mat-card>
      <div>
        RoomNo: {{room.roomNo}}
      </div>
      <div>
        Price: {{room.price}}
      </div>
      <div>
        Type: {{room.type.name}}
      </div>
      <div>
        Description: {{room.description}}
      </div>
      <div *ngIf="!room.available">
          This room is {{room.available ? 'Available':'Not available'}}!
      </div>
      <div style="display:flex">
        <div style="flex:1 1 auto"></div>
        <button *ngIf="room.available" (click)="reserve(room)">Book now!</button>
      </div>
    </mat-card>
  </div>
</div>